/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [numero]
      ,[fecha]
      ,[codigo]
      ,[cliente]
      ,[direccion]
      ,[n_iva]
      ,[giro]
      ,[tipofactura]
      ,[tipoventa]
      ,[sumas]
      ,[siva]
      ,[subtotal]
      ,[totalg]
      ,[total]
      ,[abono]
      ,[saldo]
      ,[visado]
      ,[aa]
      ,[poliza]
      ,[transp]
      ,[otros]
      ,[fsi]
      ,[fci]
      ,[fv]
      ,[dias]
      ,[tipo]
      ,[usuario]
      ,[moneda]
      ,[item]
      ,[plazo]
      ,[vence]
      ,[incompleta]
      ,[validar]
      ,[percepcion]
      ,[porcen_per]
      ,[retenido]
      ,[banco]
      ,[numero_cheque]
      ,[fecha_cheque]
      ,[tipo_compra]
      ,[minimo]
      ,[rev_por]
      ,[llave]
      ,[pagado]
      ,[empresa]
      ,[deciva]
      ,[modificado]
      ,[clase]
      ,[otras]
      ,[sivag]
      ,[cein]
      ,[ceim]
      ,[cgimp]
      ,[contable]
      ,[origen]
      ,[justificar]
      ,[tipofac_]
      ,[numcheq_]
      ,[fecheq_]
      ,[tipocom_]
      ,[ped_tra]
      ,[timestamp_column]
      ,[orden]
  FROM [factura].[dbo].[compras]